*.pdf
*.aux
*.gz
*.bbl
*.acn
*.log
*.out
*.bcf
*.blg
*.ist
*.slg
*.slo
*.sls
*.lof
*.lot
*.toc
*.xml
*.acr
*.alg
*.log
*.fls
*.fdb_latexmk
__latexindent_temp.tex
*.synctex
*.synctex(busy)
*.pygtex
*.pygstyle
lt-resources/*
ideas/*

colorpages.txt